asgiref==3.8.1
certifi==2025.7.9
cffi==1.17.1
cryptography==45.0.5
distlib==0.3.9
Django==5.2.3
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
filelock==3.18.0
packaging==25.0
pillow==11.2.1
pipenv==2025.0.3
platformdirs==4.3.8
pycparser==2.22
PyJWT==2.9.0
PyMySQL==1.1.2
pyOpenSSL==25.1.0
python-dotenv==1.0.1
setuptools==80.9.0
sqlparse==0.5.3
urllib3==2.5.0
virtualenv==20.31.2
